* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header {
    height: 500px;
    background-image: url(../images/logo.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
}

header nav a h3 {
    background: linear-gradient(to right, rgba(255, 166, 0, 0.8), rgba(255, 230, 0, 0.8), rgba(3, 231, 3, 0.8), rgba(117, 117, 247, 0.8));
    font-size: 36px;
    padding: 3px;
}

header nav ul li {
    padding: 5px;
    font-size: 20px;
}

section {
    width: 80%;
    display: block;
    margin: auto auto;
}

section h2 {
    text-align: center;
    font-size: 42px;
    padding: 5px;
    text-decoration: overline;
}

section .gallery {
    position: relative;
    left: 80px;
}

section .gallery img {
    width: 300px;
    height: 260px;
    padding: 5px;
    transition: width 0.5s height 0.5s;
}

section .gallery img:hover {
    width: 320px;
    height: 280px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

#footer {
    position: relative;
    height: 80px;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.8), rgba(255, 230, 0, 0.8), rgba(3, 231, 3, 0.8), rgba(117, 117, 247, 0.8));
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

#footer .contact {
    width: 300px;
}

#footer .mail {
    width: 300px;
    text-align: center;
}

#footer .mail a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

#footer .social-links {
    text-align: right;
    width: 300px;
}

#footer .social-links a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

#footer .social-links a:hover {
    color: crimson;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    section {
        width: 100%;
    }
    section .gallery {
        left: 0px;
    }
    section .gallery img {
        width: 100%;
        height: auto;
    }
    section .gallery img:hover {
        width: 100%;
        height: auto;
    }
    section .gallery #hide {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #footer {
        display: block;
        height: 150px;
        padding: 10px;
    }
    #footer .contact {
        width: 100%;
        padding: 5px;
    }
    #footer .mail {
        width: 100%;
        text-align: left;
        padding: 5px;
    }
    #footer .social-links {
        width: 100%;
        text-align: left;
        padding: 3px;
    }
}